<!DOCTYPE html>
<html lang="en">

<head>
  <!-- basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- mobile metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
  <!-- site metas -->
  <title>G Test</title>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <!-- bootstrap css -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
  <!-- style css -->
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <!-- Responsive-->
  <link rel="stylesheet" href="css/responsive.css" />
  <!-- fevicon -->
  <link rel="icon" href="images/fevicon.png" type="image/gif" />
  <!-- Scrollbar Custom CSS -->
  <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css" />
  <!-- Tweaks for older IEs-->
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" />
  <!-- owl stylesheets -->
  <link rel="stylesheet" href="css/owl.carousel.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen" />
</head>

<body>
  <%- include('./partials/nav.ejs') %>
  <!-- about section start -->
  <!-- contact section start -->
  <div class="contact_section layout_padding cls-main">
    <div class="container-fluid">
      <% if(false) { %>
      <!-- Always hide find form for assignment 3 -->
      <div class="cls-mail_section_1">
        <% console.log("G-response", response) %>
        <% if(response.status === "success" && response.action == "find"){ %>
        <div class="alert alert-success">
          <strong>Success!</strong>
          <%- response?.message || "" %>
        </div>
        <% } if (response?.status === "failure" && response?.action == "find"){ %>
        <div class="alert alert-danger">
          <strong>Error!</strong>
          <%- response?.message || "" %>
        </div>
        <% } %>
        <h2>Fetch Your Details</h2>
        <form action="/find" method="post">
          <div class="form-group">
            <input type="text" class="form-control" name="license" placeholder="Enter license number" pattern="[A-Z][0-9]{4}-[0-9]{5}-[0-9]{5}" title="ANNNN-NNNNN-NNNNN" required />
          </div>
          <button type="submit" class="btn btn-primary read_bt">Find</button>
          <br />
          <br />
        </form>
      </div>
      <% } %>
      <% if(response?.status === "success") { %>
      <% response?.message || (response.status = "") %>
      <%- include('./partials/form.ejs', { result, update: true, response}) %>
      <%- include('./partials/book-appointment.ejs', {result, test_type: "G"}) %>
      <% } else { %>
      <div class="container-fluid cls-empty-cnt">
        <br />
        <h2 class="text-center">Please enter your data in <strong><u><a href='/G2'>G2 page</a></u></strong>.</h2>
        <br />
      </div>
      <% } %>
    </div>
  </div>
  <!-- contact section end -->
  <!-- about section end -->
  <%- include('./partials/footer.ejs') %>
  <%- include('./partials/copyright.ejs') %>
  <!-- Javascript files-->
  <script>
    var l_slots = JSON.parse('<%- JSON.stringify(result?.availability || []) %>');
  </script>
  <script src="js/jquery.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/jquery-3.0.0.min.js"></script>
  <script src="js/plugin.js"></script>
  <!-- sidebar -->
  <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
  <script src="js/custom.js"></script>
  <!-- javascript -->
  <!-- <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script> -->
</body>

</html>